.breadcrumbs {
    margin-top: 19px;
    display: flex;

    @media screen and (max-width: 1023px) {
        padding: 0 20px;
    }
}

.breadcrumbs_centered {
    justify-content: center;
}

.breadcrumbs__link {
    font-weight: 600;
    color: var(--cSecondary);
    font-size: var(--sFontMedium);

    @media screen and (max-width: 768px) {
        font-size: var(--sFontTiny);
    }

    &:not(:last-of-type) {
        padding-right: 6px;

        &:after {
            margin-left: 6px;
            content: '/';
        }
    }
}
