.button {
    font-size: var(--sFontBody);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cPrimary);

    &:hover {
        opacity: 0.9;
    }

    &.focus-visible {
        box-shadow: var(--focusRing);
    }
}

.button_uppercase {
    text-transform: uppercase;
}

.button_withImage {
    display: flex;
    align-items: center;
    gap: 14px;
}

