.contentBlock {
    padding-left: 104px;
    display: flex;
    flex-direction:column;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-left: 130px;
    }
}

.contentBlock_thin {
    max-width: 750px;
}

.contentBlock_row {
    gap: 48px;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        gap: 8px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        gap: 144px;
    }
}

.contentBlock__header {
    position: relative;

    &::before {
        position: absolute;
        left: -72px;
        content: '';
        height: 2px;
        width: 48px;
        background: var(--cGreen);
        top: 9px;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            left: -48px;
            width: 32px;
            top: 9px;
        }

        @media screen and (min-width: 1280px) {
            width: 64px;
            left: -104px;
            top: 13px;
        }
    }

    h3 {
        font-size: var(--sH2);
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;

        @media screen and (max-width: 1279px) {
            font-size: var(--sFontBody);
        }
    }
}

.contentBlock__subheader {
    display: flex;
    position: relative;
    gap: 10px;

    &::before {
        position: absolute;
        left: -72px;
        content: '';
        height: 2px;
        width: 48px;
        background: var(--cGreen);
        top: 9px;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            left: -48px;
            width: 32px;
            top: 9px;
        }

        @media screen and (min-width: 1280px) {
            width: 64px;
            left: -104px;
            top: 13px;
        }
    }

    h3, span {
        font-weight: 400;
        font-size: var(--sH2);
        margin: 0;
        text-transform: uppercase;

        @media screen and (max-width: 1279px) {
            font-size: var(--sFontBody);
            font-weight: 600;
        }
    }
}

.contentBlock__additionalHeader {
    display: flex;
    position: relative;
    gap: 10px;

    &::before {
        position: absolute;
        left: -72px;
        content: '';
        height: 2px;
        width: 48px;
        background: var(--cGreen);
        top: 9px;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            left: -48px;
            width: 32px;
            top: 9px;
        }

        @media screen and (min-width: 1280px) {
            width: 64px;
            left: -104px;
            top: 13px;
        }
    }

    h3, span {
        font-weight: 400;
        font-size: var(--sH2);
        margin: 0;
        text-transform: uppercase;

        @media screen and (max-width: 1279px) {
            font-size: var(--sFontBody);
            font-weight: 600;
        }
    }
}

.contentBlock__headerTag {
    color: var(--cGreen);
}

.contentBlock__content {
    margin-top: 16px;

    @media screen and (max-width: 767px) {
        margin-top: 24px;
    }
}

.contentBlock__actions {
    display: flex;
    margin-top: 40px;

    @media screen and (max-width: 1279px) {
        position: relative;
        margin-top: 24px;
    }
}
