.info {
    background: var(--cGreen);
    border-radius: var(--sRadiusLarge);
    padding: 16px;
    text-transform: uppercase;
    color: var(--cWhite);
    margin-top: 16px;
    text-align: center;
}
