.link {
    font-size: var(--sFontBody);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cPrimary);

    &:hover {
        opacity: 0.9;
    }

    &.focus-visible {
        box-shadow: var(--focusRing);
    }
}

.link_withImage {
    display: flex;
    align-items: center;
    gap: 14px;
}

.link_withImageAfter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link_currentLang {
    font-weight: 600;
}

.link_uppercase {
    padding: 6px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.link_inlineText {
    display: inline-flex;
    color: var(--cGreen);
}

.link_imageOnly {

}

.link_tag {
    background: linear-gradient(0deg, #2AA84A, #2AA84A), #C4C4C4;
    border-radius: 32px;
    color: var(--cWhite);
    display: inline-flex;
    padding: 8px 24px;
    line-height: 1.5;

    &:hover {
        text-decoration: none;
    }
}

.link_tab {
    text-transform: uppercase;
    font-weight: 600;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        color: var(--cGreen);
        text-decoration: none;
    }

    svg {
        display: none;
    }

    &.active {
        color: var(--cGreen);

        svg {
            display: block;
        }
    }
}
