.link {
    font-size: var(--sFontMedium);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cPrimary);

    @media screen and (min-width: 1280px) {
        font-size: var(--sFontBody);
    }

    &:hover {
        opacity: 0.9;
    }

    &.focus-visible {
        box-shadow: var(--focusRing);
    }
}

.link_withImage {
    display: flex;
    align-items: center;
    gap: 14px;
}

.link_withImageAfter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link_currentLang {
    font-weight: 600;
}

.link_uppercase {
    padding: 6px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.link_inlineText {
    display: inline-flex;
    color: var(--cGreen);
}

.link_imageOnly {

}

.link_tag {
    background: linear-gradient(0deg, #2AA84A, #2AA84A), #C4C4C4;
    border-radius: 32px;
    color: var(--cWhite);
    display: inline-flex!important;
    padding: 8px 24px;
    line-height: 1.5;
    white-space: nowrap;

    @media screen and (max-width:767px) {
        font-size: var(--sFontMedium);
    }

    &:hover {
        text-decoration: none;
    }
}

.link_tab {
    //display: flex;
    justify-content: space-between;
    align-items: center;

    //@media screen and (max-width:1279px) {
        background: radial-gradient(53.53% 192.57% at 117.76% 86.27%, rgba(168, 220, 222, 0.25) 0%, rgba(168, 220, 222, 0) 100%), radial-gradient(138.74% 390.41% at 48.6% -163.73%, rgba(219, 202, 225, 0.25) 0%, rgba(219, 202, 225, 0) 100%), linear-gradient(0deg, #B3D0B0, #B3D0B0), #C4C4C4;;
        border-radius: 32px;
        display: inline-flex !important;
        padding: 8px 24px;
        line-height: 1.5;
        font-size: var(--sFontMedium);

        .link__icon {
            display: none;
        }
    //}

    //@media screen and (min-width: 1280px) {
    //    text-transform: uppercase;
    //    font-weight: 600;
    //    height: 45px;
    //}

    &:hover {
        color: var(--cGreen);
        text-decoration: none;
    }

    svg {
        display: none;
    }

    &.active {
        //@media screen and (max-width: 1279px) {
            color: var(--cWhite);
            background: -webkit-gradient(linear, left bottom, left top, from(#2AA84A), to(#2AA84A)), #C4C4C4;
        //}

        //@media screen and (min-width: 1280px) {
        //    color: var(--cGreen);
        //}

        svg {
            display: block;
        }
    }
}

.link_serviceTab {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:1279px) {
        background: radial-gradient(53.53% 192.57% at 117.76% 86.27%, rgba(168, 220, 222, 0.25) 0%, rgba(168, 220, 222, 0) 100%), radial-gradient(138.74% 390.41% at 48.6% -163.73%, rgba(219, 202, 225, 0.25) 0%, rgba(219, 202, 225, 0) 100%), linear-gradient(0deg, #B3D0B0, #B3D0B0), #C4C4C4;;
        border-radius: 32px;
        display: inline-flex !important;
        padding: 8px 24px;
        line-height: 1.5;
        font-size: var(--sFontMedium);

        .link__icon {
            display: none;
        }
    }

    @media screen and (min-width: 1280px) {
        text-transform: uppercase;
        font-weight: 600;
        height: 45px;
    }

    &:hover {
        color: var(--cGreen);
        text-decoration: none;
    }

    svg {
        display: none;
    }

    &.active {
        @media screen and (max-width: 1279px) {
            color: var(--cWhite);
            background: -webkit-gradient(linear, left bottom, left top, from(#2AA84A), to(#2AA84A)), #C4C4C4;
        }

        @media screen and (min-width: 1280px) {
            color: var(--cGreen);
        }

        svg {
            display: block;
        }
    }
}

.link_serviceTag {
    background: radial-gradient(53.53% 192.57% at 117.76% 86.27%, rgba(168, 220, 222, 0.25) 0%, rgba(168, 220, 222, 0) 100%), radial-gradient(138.74% 390.41% at 48.6% -163.73%, rgba(219, 202, 225, 0.25) 0%, rgba(219, 202, 225, 0) 100%), linear-gradient(0deg, #B3D0B0, #B3D0B0), #C4C4C4;;
    border-radius: 32px;
    color: var(--cPrimary);
    display: inline-flex;
    padding: 8px 24px;
    font-weight: 400;

    @media screen and (max-width: 1279px) {
        font-size: var(--sFontMedium);
        line-height: 1.57;
    }

    &:hover {
        background: linear-gradient(0deg, #2AA84A, #2AA84A), #C4C4C4;
        color: var(--cWhite);
    }
}

.link_tagActive {
    font-weight: 400;
    border-radius: 32px;
    display: inline-flex;
    padding: 8px 24px;
    background: linear-gradient(0deg, #2AA84A, #2AA84A), #C4C4C4;
    color: var(--cWhite);
}
