.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: var(--zOverlay);
    transition-duration: var(--tGeneric);
    transition-timing-function: var(--tfStandart);
    outline: none;
    width: 100%;

    @media screen and (min-width: 768px) {
    }
    //overflow: hidden;
}

.modal_wide {
    --width: 900px;
}

.modal[aria-hidden='true'] {
    pointer-events: none;
}

.modal__curtain {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(221,255,215, 0.5);
    backdrop-filter: blur(20px) opacity(1);
    transition-duration: var(--tGeneric);
    transition-timing-function: var(--tfStandart);
    pointer-events: auto;
}

.modal[aria-hidden='true'] .modal__curtain {
    backdrop-filter: blur(20px) opacity(0);
    background: transparent;
    visibility: hidden;
}

.modal__wrapper {
    display: flex;
    position: relative;
    transition-duration: var(--tGeneric);
    transition-timing-function: var(--tfStandart);
    //pointer-events: none;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
    }
}

.modal[aria-hidden='true'] .modal__wrapper {
    opacity: 0;
}

.modal__body {
    background: var(--cWhite);
    border-radius: var(--sRadiusHuge);
    position: relative;
    margin: auto;
    pointer-events: auto;
    transition-duration: var(--tGeneric);
    transition-timing-function: var(--tfStandart);
    width: 100%;
    box-sizing: border-box;
    height: 624px;

    @media screen and (max-width: 767px) {
        margin: 0 28px;
    }

    @media screen and (min-width: 768px) {
        max-width: var(--width);
        height: 674px;
    }
}

.modal[aria-hidden='true'] .modal__body {
    opacity: 0;
    transform: scale(0.86);
    pointer-events: none;
}

.modal__close {
    height: 32px;
    width: 32px;
    position: absolute;
    color: inherit;
    top: 0;
    right: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border-radius: var(--sRadiusSmall);
    outline: none;
    transition-duration: var(--tGeneric);
    transition-timing-function: var(--tfStandart);

    &.focus-visible {
        box-shadow: var(--focusRing);
    }
}

.modal__content {
    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .checkboxItem {
        margin-top: 24px;

        a {
            font-weight: 600;
        }
    }
}

.modal__row {
    display: flex;
    gap: 16px;

    & > div {
        flex-basis: 100%;
    }
}

.modal__link {
    a {
        font-weight: 600;
    }
}

.modal__header {
    text-transform: uppercase;
    color: var(--cPrimary);
    font-weight: 700;
    margin-bottom: 32px;

    .link {
        font-weight: 600;

        @media (min-width: 768px) {
            font-weight: 700;
        }
    }

    .dash {
        width: 64px;
        height: 2px;
        background: var(--cGreen);
        margin: 0 32px;
    }
}

.modal__header_large {
    display: flex;
    align-items: center;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
        gap: 8px;
    }

    .link {
        @media screen and (min-width: 768px) {
            font-size: var(--sH3);
        }

        &:first-of-type {
            color: var(--cGreen);
        }
    }

    .dash {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

.modal__header_reverse {
    .link {
        font-weight: 600;
        font-size: var(--sFontBody);

        @media screen and (min-width: 768px) {
            font-size: var(--sH3);
        }

        &:first-of-type {
            color: var(--cPrimary);
        }

        &:last-of-type {
            color: var(--cGreen);
        }
    }
}

.modal__title {
    margin-bottom: var(--sSpacingMedium);
}

.modal__text {
    margin-bottom: 32px;
    font-size: var(--sFontMedium);
    font-weight: 400;

    p {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: var(--sSpacingMedium);
    }
}

.modal_loginModal {
    --width: 624px;

    .modal__close {
        top: 24px;
        right: 24px;
    }

    .modal__body {
        padding: 80px 32px 32px;
    }
}
