.tabBlock__container {
    margin-top: 38px;
    display: flex;
    gap: 32px;
}

.tabBlock__subheader {
    margin-bottom: 48px;
    margin-left: 144px;
    position: relative;

    &::before {
        position: absolute;
        left: -104px;
        content: '';
        height: 2px;
        width: 64px;
        background: var(--cGreen);
        top: 50%;
        transform: translateY(-50%);
    }

    h3 {
        font-size: var(--sH2);
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.tabBlock__tablist {
    //display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: column;
        max-width: 302px;
        width: 100%;
    }

}

.tabBlock__tablistHeader {
    text-align: right;
}

.tabBlock__tabPanels {
    @media screen and (max-width: 767px) {
        background: var(--cWhite);
        border-radius: var(--sRadiusHuge);
        padding: 16px;
        overflow: hidden;
    }

    @media screen and (min-width:768px) {
        width: 836px;
    }

    .contentBlock {
        @media screen and (min-width: 1280px) {
            margin-left: 40px;
        }
    }
}

.tabBlock__header {
    position: relative;

    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--cGreen);
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 32px;
        padding-left: 48px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 40px;
        padding-left: 104px;
    }


    &::before {
        @media screen and (min-width: 768px) {
            position: absolute;
            content: '';
            height: 2px;
            width: 48px;
            background: var(--cGreen);
            left: 0;
            top: 9px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            width: 32px;
        }

        @media screen and (min-width: 1280px) {
            width: 64px;
            top: 13px;
        }
    }

    h3 {
        font-size: var(--sH2);
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;

        @media screen and (max-width: 1279px) {
            font-size: var(--sFontBody);
        }
    }
}

.tabBlock__tablistButtons {
    display: flex;
    flex-direction: column;
}

.tabBlock__header__icon {
    @media screen and (min-width:768px) {
        display: none;
    }
}

.tabBlock__tabpanel {
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        margin-top: 20px;
    }


    &.is-hidden {
        display: none;
    }
}

.tabBlock__filters {
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    @media screen and (max-width: 1279px) {
        margin-top: 16px;
    }
}

.tabBlock__filter {
    background: radial-gradient(53.53% 192.57% at 117.76% 86.27%, rgba(168, 220, 222, 0.25) 0%, rgba(168, 220, 222, 0) 100%), radial-gradient(138.74% 390.41% at 48.6% -163.73%, rgba(219, 202, 225, 0.25) 0%, rgba(219, 202, 225, 0) 100%), linear-gradient(0deg, #B3D0B0, #B3D0B0), #C4C4C4;;
    border-radius: 32px;
    color: var(--cPrimary);
    display: inline-flex;
    padding: 8px 24px;

    &.services__filter_active, &:hover {
        background: linear-gradient(0deg, #2AA84A, #2AA84A), #C4C4C4;
        color: var(--cWhite);
    }
}

