.text__container {
    margin-top: 78px;
    margin-bottom: 128px;

    .subheader {
        font-size: var(--sFontLarge);
        line-height: 1.45;
        text-transform: uppercase;
        font-weight: 600;
        margin: 48px 0 24px;
    }

    ol {
        counter-reset: item;
        margin: 0;
        padding: 0 0 0 20px;
    }

    li {
        display: block;

        &::before {
            content: counters(item, ".") " "; counter-increment: item
        }
    }

    a {
        text-decoration:none;
        color: var(--cGreen);
        font-weight: 700;
    }

    p {
        margin-top: 0;
        margin-bottom: 25px;
        line-height: 1.5;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.cookie__block {
    background: var(--cGreen);
    padding: 32px;
    color: var(--cWhite);

    a {
        color: var(--cWhite);
    }

    .cookie__header {
        font-size: var(--sFontLarge);
        line-height: 1.45;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 0 24px;
    }
}
