.stream__container {
    padding-bottom: 72px;
    margin-top: 12px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 28px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 57px;
        padding-bottom: 128px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        .contentBlock {
            flex-direction: row;

            .contentBlock__header {
                margin-right: 16px;
            }
        }
    }
}

.createStreamBlock {
    background: var(--cWhite);
    border-radius: var(--sRadiusHuge);
    padding: 32px;

    @media screen and (max-width: 767px) {
        margin: 24px 28px 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin: 32px 80px;
    }

    @media screen and (min-width: 1280px) {
        margin: 48px 0 0;
    }
}

.createStreamForm {
    gap: 32px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: 768px) {
        display: grid;
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(2, 1fr);
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-calendar-picker-indicator,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    input[type="date"] {
        max-width: 100px;
        padding-left: 27px;
        background: url('../img/calendar.svg') 3px center no-repeat;
    }

    input[type="time"] {
        max-width: 55px;
        padding-left: 27px;
        background: url('../img/time.svg') 3px center no-repeat;
    }
}

.createStreamForm__col {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1279px) {
        gap: 24px;
    }

    @media screen and (min-width: 1280px) {
        gap: 32px;
    }
}

.createStreamForm__timetable {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
        gap: 38px;
    }

    p {
        margin: 0 0 16px;
        line-height: 1.5;
        font-weight: 600;
    }
}

.createStreamForm__timetableCol {
    display: flex;
    gap: 8px;
}

.createStreamForm__preview {
    display: flex;
    border-radius: var(--sRadiusHuge);
    background: #7D7D7D;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width: 767px) {
        padding: 50px 0;
    }

    @media screen and (min-width: 768px) {
        height: 262px;
    }
}

.createStreamForm__file {
    label {
        text-transform: uppercase;
        background: var(--cWhite);
        padding: 8px 24px;
        border-radius: var(--sRadiusLarge);
        font-weight: 500;

        @media screen and (min-width: 768px) {
            margin-bottom: 16px;
        }
    }

    input {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}

.createStreamForm__checkboxes {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}
