.orderForm__block {
    background: var(--cWhite);
    border-radius: var(--sRadiusHuge);
    padding: 32px;

    @media screen and (max-width: 767px) {
        margin: 24px 28px 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin: 32px 80px 0;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 48px;
    }
}

.orderForm__formHeader {
    font-size: var(--sFontLarge);
    line-height: 1.5;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: var(--sH2);
    }
}

.orderForm__row {
    margin-top: 32px;
    padding-top: 8px;
    margin-bottom: 16px;
    border-top: 2px solid var(--cGreen);

    .orderForm__row_contacts {
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }
}

.orderForm__formSubheader {
    text-transform: uppercase;
    font-weight: 600;
    margin: 24px 0 16px;
}

.orderForm__row_timetable {
    display: flex;
    gap: 32px;

    @media screen and (max-width: 1279px) {
        flex-wrap: wrap;
        gap: 16px 32px;
    }
}

.orderForm__row_contacts {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 1279px) {
        flex-direction: column;
    }
}

.orderForm__row_contacts__col {
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    gap: 16px;

    @media screen and (max-width: 1279px) {
        flex-direction: column;
    }

    & > * {
        flex-basis: 100%;
    }

    .inputField {
        flex-grow: 1;
    }
}

.orderForm__recommendation__header {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 8px;
}

.orderForm__recommendationsList {
    p {
        line-height: 1.5;
        margin: 0;
    }

    .green {
        color: var(--cGreen);
    }
}

.orderForm__action {
    margin-top: 24px;
}
