html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    color: var(--cPrimary);
}

body {
    &.lock_scroll {
        overflow: hidden;
    }
}

.page {
    display: flex;
    flex-direction: column;
    color: var(--cText);
    overflow-x: hidden;
    background: url('../img/bgtexture.jpg') center no-repeat;
    background-size: cover;
    min-height: 100%;
}

.page__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
