footer {
    padding-top: 32px;
    border-top: 1px solid var(--cWhite);

    @media screen and (max-width: 767px) {
        margin: 0 28px;
    }

    .container {
        @media screen and (max-width: 1279px) {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }
}

.footer__navigation {
    display: flex;
    gap: 24px;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 1280px) {
        align-items: flex-end;
    }
}

.footer__socialNetworks {
    display: flex;
    gap: 24px;

    .link {
        height: 54px;
        width: 54px;
        border: 1px solid var(--cWhite);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

.footer__copyrights {
    margin-top: 32px;
    padding: 16px 0;
    background: rgba(255, 255, 255, 0.4);
    font-size: var(--sFontMedium);

    @media screen and (max-width: 767px) {
        margin: 32px -28px 0;
    }

    .container {
        @media screen and (max-width: 1279px) {
            gap: 16px;
        }
    }

    p {
        margin: 0;
    }

    .link {
        font-size: var(--sFontMedium);
    }
}
