.clientGallery__block {
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: 1280px) {
        max-width: 560px;
    }
}

.clientGallery__slider {
    &.slick-slider .slick-slide {
        margin: 0;
    }
}

.clientGallery__carousel {
    position: relative;

    .videoBlock__button {
        position: absolute;
        z-index: 1;
    }

    .circle__outer {
        width: 166px;
        height: 166px;
    }

    .circle__middle {
        width: 128px;
        height: 128px;
    }

    .circle__inner {
        width: 90px;
        height: 90px;
    }

}

.clientGallery__item {
    width: 100%;
    border-radius: var(--sRadiusBig);
    overflow: hidden;
    margin-bottom: 16px;

    img {
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin: auto auto;
    }

    .videoBlock__button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.clientGallery__carouselDots {
    display: grid;
    gap: 16px 32px;

    .slick-track {
        gap: 16px 0;
        display: flex!important;
        flex-wrap: wrap;
        width: 100%!important;

        @media screen and (min-width: 768px) {
            display: flex!important;
            flex-wrap: wrap;
            width: 100%!important;
        }
    }

    &.slick-slider {
        .slick-slide {
            margin: 0;

            &:nth-of-type(3n + 2) {
                margin: 0 16px;
            }

            @media screen and (max-width: 400px) {
                width: 29.5%;
            }

            @media screen and (min-width: 401px) and (max-width: 463px) {
                width: 30%;
            }

            @media screen and (min-width: 464px) and (max-width: 530px) {
                width: 30.6%;
            }

            @media screen and (min-width: 530px) and (max-width: 600px) {
                width: 31%;
            }

            @media screen and (min-width: 601px) and (max-width: 767px) {
                width: 31%;
            }

            @media screen and (min-width: 768px) {
                width: 31.5%;
            }

            @media screen and (min-width: 1280px) {
                width: 31.4%;
            }

            & > div {
                display: flex;
            }
        }
    }

    .owl-dot {
        width: 100%;
        border-radius: var(--sRadiusBig);
        overflow: hidden;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        }

        img {
            max-height: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            margin: auto auto;
        }
    }
}

.clientGallery__carouselDots img {
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto auto;
}


.clientGallery__videoBlock {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.clientGallery__videoImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.clientGallery__videoBlock_enabled {
    cursor: pointer;

    .clientGallery__videoButton {
        display: block;
    }
}

