.clientsList__list {
    display: grid;
    margin: 24px 28px 40px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin: 32px 80px 48px;
        gap: 32px 74px;
        grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    }

    @media screen and (min-width: 1280px) {
        gap: 40px 20px;
        grid-template-columns: repeat(auto-fill, minmax(273px, 1fr));
    }
}
