header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    z-index: 1;
    padding: 40px 0;

    @media screen and (max-width: 1279px) {
        padding: 40px 80px;
    }

    @media screen and (max-width: 767px) {
        padding: 28px 20px;

        .link {
            .link__label {
                display: none;
            }
        }
    }
}

.header__navigation {
    display: flex;
    gap: 24px;
    text-transform: uppercase;

    @media screen and (max-width: 1280px) {
        display: none;
    }

    .link {
        &:focus, &.active {
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.header__actions {
    display: flex;
    gap: 22px;
    align-items: center;

    @media screen and (min-width: 1280px) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.header__hamburger {
    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.header__languages {
    display: flex;
    gap: 16px;
    text-transform: uppercase;
}

.header__office {
    display: flex;
    gap: 8px;

    a {
        font-weight: 600;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header_mainPage {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}
