.blogBlock__carousel {
    margin: 32px 28px 40px;

    @media screen and (min-width: 768px) and (max-width:1279px) {
        margin: 32px 80px 96px;
    }

    @media screen and (min-width: 1280px) {
        margin: 72px 0 128px;
    }

    .slick-track {
        display: flex;
        gap: 8px;
    }

    .slick-slide {
        height: inherit !important;

        @media screen and (max-width: 767px) {
            margin: 0;
        }

        & > div {
            height: 100%;

            //@media screen and (min-width: 768px) {
            //    margin-right: 32px;
            //}
        }
    }

}


.blogBlock__arrows {
    display: none;

    @media screen and (min-width: 767px) {
        display: flex;
        gap: 8px;
        align-items: center;
        padding-left: 8px;
        justify-content: flex-end;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    @media screen and (min-width: 1280px) {
        right: 0;
    }
}
