.servicesBlock {

}

.services__container {
    @media screen and (max-width: 1279px) {
        margin-top: 28px;
    }
}

.services__tabs {
    @media screen and (min-width: 1280px) {
        display: flex;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 68px;
    }

    .contentContainer {
        margin-top: 0;
    }

    .contentBlock {
        padding-left: 100px;

        @media screen and (min-width:767px) and (max-width:1279px) {
            padding-left: 48px;
            margin: 0 80px;
        }

        .contentBlock__content {
            margin-left: -104px;
        }
    }
}

.servicesBlock__carousel {
    margin: 24px 68px 40px 28px;

    @media screen and (max-width: 767px) {
        display: grid;
        grid-auto-rows: 1fr;
    }

    @media screen and (min-width: 768px) and (max-width:1279px) {
        margin: 32px 80px 96px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 72px;
        margin-bottom: 128px;
    }

    .slick-track {
        display: flex !important;
    }

    .slick-slide {
        height: inherit !important;

        & > div {
            height: 100%;

            & > div {
                height: 100%;
            }
        }
    }

    .slick-list {
        margin-left: -38px;
    }

    &.slick-slider .slick-slide {
        margin-right: 136px;
    }

    & > div {
        @media screen and (max-width: 767px) {
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
