.blogArticleHeader__infoBlocks {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.blogArticleHeader__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.blogArticleHeader__info {
    margin-top: 5px;
    display: flex;
    gap: 84px;
    justify-content: flex-end;

    @media screen and (max-width: 767px) {
        margin-top: 16px;
        flex-direction: column;
        gap: 16px;
    }
}

.blogArticleHeader__location  {
    margin-bottom: 16px;
    line-height: 1.5;
    display: flex;
    gap: 13px;
}

.blogArticleHeader__header {
    h3 {
        font-size: var(--sH2);
        font-weight: 500;
        margin: 0 0 24px;
        text-transform: uppercase;
    }
}
