.blog__container {
    padding-bottom: 72px;
    margin-top: 12px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 28px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 57px;
        padding-bottom: 128px;
    }

    .contentContainer {
        @media screen and (max-width: 1279px) {
            flex-direction: column;
        }
    }
}

.blog__content {
    gap: 32px;
    margin-top: 38px;
    display: flex;
}

.blog__cards {
    @media screen and (max-width: 767px) {
        overflow: hidden;
    }

    & > div:not(:last-of-type) {
        margin-bottom: 16px;

        @media screen and (min-width: 1280px) {
            margin-bottom: 32px;
        }
    }
}

.blogCard__oneAndHalf {
    display: grid;
    gap: 16px;

    @media screen and (min-width: 1280px) {
        display: grid;
        gap: 32px;
        grid-template-columns: minmax(300px, 560px) auto;
    }
}

.blog__cardsAction {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.blogCard__three {
    display: grid;
    gap: 32px;

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
